.container{
    display: flex;
    flex-direction: row;
    height: 100%;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #e8e8ee;
}
::-webkit-scrollbar-thumb{
    background-color:rgb(201, 192, 192);
}
.sidebarWrapper{
    flex: 3;
    height: calc(100vh - 50px);
    position:sticky;
    top: 50px;
    padding: 20px;
    flex: 3;
    overflow-y: scroll;
}
.middlebar{
    flex:9
}
.rightbar{
    flex:3;
}
